{% extends "base.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>
{% endblock %}

{% block navbar_right %}
  {% include "news/signup_dropdown.html" %}
{% endblock %}