{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
  <title>Infinity Gaming</title>
{% endblock %}

{% block content %}
  {% if not user.is_authenticated %}
    <div class="jumbotron" style="opacity: 0.7">
      <div class="row" >
        <div class="col-sm-8">
            <h1>Games Source!</h1>
            <p class="lead"><strong>We</strong> will help you to find best GAME! </p>
            <p>Want to stay up to date with games? Having trouble finding a game?</p>
            <p><em>You'll need to Sign Up first!</em></p>
        </div>
        <div class="col-sm-4">
          {% include "news/signup_form_base.html" %}
        </div>
      </div>
    </div>
  {% endif %}
{% if user.is_authenticated %}
  <div class="row" style="opacity:0.8">
    <div class="col-md-2">
      <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Platforms</h3></div>
        <div class="panel-body">
          <div class="checkbox">
            {% for platform_abbreviation, platform_name in platform_name_choices %}
              <div class="row">
                <label>

                  <input class="platform-item" type="checkbox" value="{{ platform_abbreviation}}">
                  {{ platform_name }}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    
    <div id="csresource-table" style="opacity: 0.8" class="col-md-10">
      {% include "cslist/cslist.html" %}
    </div>
    {% endif %}
  </div>

{% endblock %}
{% if user.is_authenticated %}
{% block javascript %}
  {{ block.super }}

  <script>
    $(document).ready(function() {
      $(".platform-item").change(function() {
        var query_args = {}
        var platforms = [];
        $(".platform-item").each(function() {
          if ($(this).is(":checked")) {
            platforms.push($(this).val());
          }
        });

        if (platforms.length>0) {
          query_args.platform_filter = platforms.join()
        }

        $.ajax({
          method: "GET",
          url: "/csresource/csresource-table",
          data: query_args
        }).done(function(html) {
          $("#csresource-table").html(html);
        })
      })
    })
  </script>

{% endblock %}
{% endif %}